<nav class="mobile-navbar w-100">
  <ul class="d-flex justify-content-center m-0 py-4 ps-0 w-100" data-controller="active">
    <li class="navbar-item mx-3 active" data-action="click->active#activate" data-active-target="link">
      <%= link_to "/" do %>
        <i class="fa-solid fa-house"></i>
        <span>Início</span>
      <% end %>
    </li>
    <li class="navbar-item mx-3" data-action="click->active#activate" data-active-target="link">
      <%= link_to "/" do %>
        <i class="fa-solid fa-list"></i>
        <span>Produtos</span>
      <% end %>
    </li>
    <li class="navbar-item mx-3" data-action="click->active#activate" data-active-target="link">
      <%= link_to "/" do %>
        <i class="fa-solid fa-wrench"></i>
        <span>Serviços</span>
      <% end %>
    </li>
    <li class="navbar-item mx-3" data-action="click->active#activate" data-active-target="link">
      <%= link_to "/" do %>
        <i class="fa-solid fa-circle-info"></i>
        <span>Sobre</span>
      <% end %>
    </li>
    <li class="navbar-item mx-3" data-action="click->active#activate" data-active-target="link">
      <%= link_to "/" do %>
        <i class="fa-regular fa-user"></i>
        <span>Início</span>
      <% end %>
    </li>
  </ul>
</nav>
